body {
    margin: 0;
    padding: 0;
    background-image: url(images/Ghna.jpg);
    background-size: cover;
    font-family: sans-serif;
    height: 150vh;
    background-repeat: no-repeat;
}
h1{
    color: red;
}
#p{
    color: brown;
}
.head{
    text-align: center;
    color: black;
}
  .one{
      text-align: center;
    color: black;
  }